apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: job-search
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://gitlab.com/dav.piatek/job-search-workflow.git
    targetRevision: HEAD
    path: cloud/helm/job-scraper-app
    helm:
      valueFiles:
        - values-simple.yaml
      parameters:
        - name: image.backend.tag
          value: main
        - name: image.frontend.tag
          value: main

  destination:
    server: https://kubernetes.default.svc
    namespace: job-search
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  revisionHistoryLimit: 10
